<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Camera is required for MoD to scan QR code</string>
  <key>FirebaseScreenReportingEnabled</key>
  <false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is required for MoD</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is required for MoD</string>
	<key>NSCalendarsUsageDescription</key>
	<string>MoD may access calendar</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MoD may access Photo</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is required for MoD</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>MoD may access AppleMusic</string>
	<key>NSMotionUsageDescription</key>
	<string>MoD may access your motion</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>MoD may access your speech</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>宏碁自駕接駁車試乘應用</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.00.0016</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>18100801</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>5273872df411e753c40031bb8a2cbd3f50e78f9c</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1992652584085983</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.831187067856-l4u8sle99595mrfl1e06h20iiduot1jt</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.831187067856-l4u8sle99595mrfl1e06h20iiduot1jt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.acer.mod.dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.acer.mod.dev</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>acermod</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1992652584085983</string>
	<key>FacebookDisplayName</key>
	<string>MoD</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To have user location to call service</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
